<% if current_user&.admin? %>
  <%= button_to "New model", new_model_path, :id => 'open-contacts-dialog-btn',
  class: 'btn btn-primary', :method => :get %>
<h1 class="mb-4">Models:</h1>
<div class="row row-cols-1 row-cols-md-5 g-4 mb-4">
  <% @models.each do |model| %>
    <div class="col">
      <div class="card" style="width: 300px;">
        <h2 class="mb-4 card-header"><%= model.name %></h2>
        <h3 class="mb-4 card-header"><%= model.brand.name %></h3>
        <div class="card-body">
            <%= button_to "Show this model", model, class: 'btn btn-secondary btn-sm', :method => :get %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<% end %>
