<% if current_user&.admin? %>
<%= form_with(model: dealer) do |form| %>
  <div class="mb-3">
    <%= form.label :name, { class: "form-label"} %>
    <%= form.text_field :name, { class: "form-control", placeholder: "Name" } %>
  </div>
  <br><%= form.submit "Create Dealer", class: "btn btn-primary" %></br>
<% end %>
<% end %>
