<% if current_user&.admin? %>
<h1>New dealer</h1>

<%= render "form", dealer: @dealer %>

<br>

<div>
  <%= button_to "Back to dealers", dealers_path, class: 'btn btn-secondary btn-sm', :method => :get %>
</div>
<% end %>
