<% if current_user&.admin? %>
<h1>New brand</h1>

<%= render "form", brand: @brand %>

<br>

<div>
  <%= button_to "Back to brands", brands_path, class: 'btn btn-secondary btn-sm', :method => :get %>
</div>
<% end %>